.statistics-page {
  display: flex;
  justify-content: center;
  height: calc(100vh - 60px);
  background-color: wheat;
}

.statistics-card {
  margin-top: 50px;
  width: 1100px;
  height: fit-content;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.stats-report {
  border-bottom: 2px solid black;
}

.stats-filters {
  padding-top: 10px;
  background-color: antiquewhite;
  height: fit-content;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.tags-filter {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  max-height: 360px;
  width: 250px;
  overflow-y: auto;
}

.tags-filter::-webkit-scrollbar {
  width: 6px;
}

.tags-filter::-webkit-scrollbar-track {
  background: wheat;
  border-radius: 10px;
}

.tags-filter::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.chart-container {
  height: 400px;
  width: 800px;
}

.date-filter {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: fit-content;
  margin-top: 20px;
  margin-left: 50px;
  background-color: antiquewhite;
}

.week-btn {
  min-width: 15px;
  height: 20px;
  font-size: 12px;
  padding: 0;
}

.chart-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
