<div class="outer-circle" (click)="onCircleClick()">
  <p *ngIf="newSession" class="">NEW FOCUS SESSION</p>

  <ng-container *ngIf="!newSession">
    <div class="line diagonal1"></div>
    <div class="line diagonal2"></div>

    <div class="quarter left">{{ left }}</div>
    <div class="quarter top">{{ top }}</div>
    <div class="quarter bottom">{{ bottom }}</div>
    <div class="quarter right">{{ right }}</div>
    <div class="inner-circle" (click)="onDivClick()">{{ center }}</div>
  </ng-container>
</div>
