nav {
  background-color: rgb(32, 43, 78);
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.items {
  display: flex;
  justify-content: space-around;
}

p {
  cursor: pointer;
  padding: 10px;
}
p:hover {
  color: wheat;
}

nav svg {
  transition: fill 0.3s;
}

nav p:hover svg {
  fill: wheat;
  cursor: pointer;
}

.logout {
  display: flex;
  flex-direction: row;
}

.btn-logout {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.btn-logout:hover svg {
  fill: wheat; 
}
