nav {
  background-color: #3e2f1c; /* tamno braon */
  color: #f0e9d2;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.items {
  display: flex;
  justify-content: space-around;
}

p {
  cursor: pointer;
  padding: 10px;
}
p:hover {
  color: wheat;
}

.items p.active-link {
  color: orange; 
  font-weight: 600; 
  border-bottom: 2px solid white; 
}

nav svg {
  transition: fill 0.3s;
}

nav p:hover svg {
  fill: wheat;
  cursor: pointer;
}

.logout {
  display: flex;
  flex-direction: row;
}

.btn-logout {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.btn-logout:hover svg {
  fill: wheat;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  background-image: url('../../../assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 100px;
}
