nav {
  background-color: rgb(32, 43, 78);
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.items {
  display: flex;
  justify-content: space-around;
}

p {
  cursor: pointer;
  padding: 10px;
}
p:hover {
  color: wheat;
}

nav svg {
  transition: fill 0.3s;
}

nav p:hover svg {
  fill: wheat;
  cursor: pointer;
}
