.register-card {
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}

.error-message {
  color: #d32f2f;
  font-size: 14px;

  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

.required-fields {
  font-weight: bold;
  font-size: 14px;
}
