.timer-settings {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  width: 300px;
}

.timer-settings mat-form-field {
  width: 200px;
}

.session-settings {
  display: flex;
  flex-direction: row;
  width: 600px;
}

.tag-settings {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
}

.search-field {
  width: 100%;
}

.tag-select {
  margin-top: 4px;
  width: 100%;
}

.btn-start {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left:120px;
}
