.settings-container {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 60px);
}

.messages-container {
  border: 2px solid black;
}

.session-container {
  border: 2px solid black;
}
