.startscreen-img {
  background-image: url('../../../assets/startscreen.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-msg {
  font-size: 40px;
  max-width: 400px;
  color: white;
  line-height: 1.2; 
  padding: 20px;
}

.wrapper {
  align-items: center;
  display: flex;
  background-color: transparent;
  backdrop-filter: blur(5px);
}
