.focus-container {
  background-image: url('../../../assets/breaktime.avif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}
